@{
    ViewBag.Title = "Danh sách Lên khuôn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/MyStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
@Scripts.Render("/Scripts/MyScript.js")

@Scripts.Render("/Scripts/ActionCommon.js")
<h2>Danh sách lên khuôn ép</h2>
<button class="btn btn-primary" onclick="openPopup('@Url.Action("Create")')">Thêm mới</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Máy</th>
            <th>Hot Runner</th>
            <th>Tên Khuôn lên</th>
            <th>Tên Khuôn xuống</th>
            <th>Tên nguyên liệu</th>
            <th>Điểm TB</th>
            <th>Xếp loại</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.ID</td>
                <td>@(a.MayKhuon2?.TenMayKhuon ?? "Không có")</td>
                <td>@(a.HotRunner == 1 ? "Có" : "Không")</td>
                <td>@(a.MayKhuon?.TenMayKhuon ?? "Không có")</td>
                <td>@(a.MayKhuon1?.TenMayKhuon ?? "Không có")</td>
                <td>@(a.NGUYENLIEU?.TenNguyenLieu ?? "Không có")</td>
                <td>@a.DiemTB</td>
                <td>@a.XepLoai</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>

<!--SCRIPT-->
<script>
    //Mở Popup
    function openPopup(url) {
        $("#formModal .modal-content").load(url, function () {
            $("#formModal").modal("show");
            initSearch();
            initScript();
        });
    }

    function closePopup() {
        $("#formModal").modal("hide");
    }

    function initSearch() {

        //select2
        var $Modal = $('#formModal');
        InitLoadDataSelect2Ajax($Modal);

    }

</script>